.processing {
  background: url("../../img/zf-table/ajax-loader.gif") no-repeat scroll 0 0 transparent;
  border-radius: 5px 5px 5px 5px;
  color: #FFFFFF;
  display: block;
  float: left;
  height: 15px;
  left: 50%;
  margin-left: -50px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 50%;
  width: 128px;
}

td.editable , .table-hover>tbody>tr:hover>td.editable , .table-striped>tbody>tr:nth-child(odd)>td.editable {
    background-color: #FFFCF0;
}

.separatable td{
    border-top: 5px solid rgb(223, 223, 223) !important;
}