body {
  font-family: arial;
  font-size: 12px;
  padding-bottom: 40px;
  padding-top: 60px;
}

table{border-spacing:0;}

.zf-table-wrap {
  border: 1px solid #DFDFDF;
  border-radius: 5px 5px 5px 5px;
  max-width: 500px;
  position: relative;
}


.zf-table-wrap table {
  border: 1px solid #FFFFFF;
  width: 100%;
}

.zf-table-wrap .table-header {
  background: none repeat scroll 0 0 #F6F6F6;
  border-radius: 5px 5px 0 0;
  padding: 5px;
  text-align: right;
}
.zf-table-wrap .table-footer {
  background: none repeat scroll 0 0 #F6F6F6;
  padding: 10px;
  text-align: right;
}

.zf-table-wrap .quick-search {
  border: 1px solid #D7D7D7;
  border-radius: 3px 3px 3px 3px;
  padding: 5px;
}
.zf-table-wrap .itemPerPage {
  border: 1px solid #D7D7D7;
  border-radius: 3px 3px 3px 3px;
  padding: 5px;
}

.processing {
  background: url("../img/ajax-loader.gif") no-repeat scroll 0 0 transparent;
  border-radius: 5px 5px 5px 5px;
  color: #FFFFFF;
  display: block;
  float: left;
  height: 15px;
  left: 50%;
  margin-left: -50px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 50%;
  width: 128px;
}

.zf-table-wrap table tr:nth-child(2n+1) td{background:#f1f1f1}
.zf-table-wrap table tr:hover td{background-color:#f1f1f1;}

#loading{
    height: 100px;
    width: 100px;
    background: black;
}

.zf-table-wrap th {
  background: none repeat scroll 0 0 #F1F1F1;
  border-color: #DFDFDF #FFFFFF #DFDFDF #DFDFDF;
  border-style: solid;
  border-width: 1px;
  font-family: arial;
  font-size: 13px;
  min-width: 100px;
  padding: 2px 10px;
  color: #666666;
  cursor: pointer;
}
.zf-table-wrap th:hover{
  background: #c0c0c0;  
}

.zf-table-wrap td {
  background: none repeat scroll 0 0 #F9F9F9;
  border-color: #FFFFFF #FFFFFF #DFDFDF #DFDFDF;
  border-style: solid;
  border-width: 1px;
  color: #4D4D4D;
  min-width: 100px;
  padding: 5px 10px;
}


.zf-table-wrap tr{
    
}

.pagination-centered {
  text-align: left;
}
.pagination {
  display: inline-block;
}
.pagination ul {
  border-radius: 4px 4px 4px 4px;
  display: inline;
  margin: 0;
  padding: 0;
}
.pagination ul li {
  background: none repeat scroll 0 0 #989898;
  border: 2px solid white;
  border-radius: 5px 5px 5px 5px;
  color: #FFFFFF;
  display: inline-block;
  font-family: arial;
  font-size: 10px;
  font-weight: bold;
  margin: 0;
  overflow: auto;
}
.pagination ul li.active {
  background: #c0c0c0;
}

.pagination ul li a {
  color: #FFFFFF;
  display: block;
  font-size: 13px;
  margin-left: 0;
  padding: 5px;
  text-decoration: none;
}

.pagination ul li:hover{
  background: none repeat scroll 0 0 #c0c0c0;  
}
.pagination ul li:hover a{
    color: #000;
}

.pagination ul li:first-child a {
    
}


.zf-green {
    color: #68b604;
}
td, th{
    min-width: 100px;
    border: 1px solid black;
}

.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}

div.container a.brand {
    background: url("../img/zf2-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}
